/.idea
/node_modules
/frontend/.idea
/frontend/node_modules
/frontend/build
/backend/.idea
/backend/node_modules
/backend/combined.log
/backend/error.log
/backend/database.sqlite
/backend/src/combined.log
/backend/src/error.log
/backend/src/database.sqlite
/test-frameworks/**/.idea
/test-frameworks/**/node_modules
/test-frameworks/**/test-results
/test-frameworks/**/playwright-report
/test-frameworks/**/target
/test-frameworks/uft-example-script
combined.log
error.log