body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.headerLogo {
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    align-items: center;
    justify-content: center;
    gap: -25px; /* Reduce gap between lines */
}

.header {
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    align-items: center;
    justify-content: center;
    /*gap: -25px;  Reduce gap between lines */
    margin-bottom: 20px;
}

.sub-header {
    font-size: 10px;
}

.logo {
    height: 150px; /* Adjust as needed */
}

h1 {
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 30px; /* Add some space below the tab buttons */
    justify-content: center;
}

.tab {
    background-color: #555555; /* Different background color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tab:hover {
    background-color: #666666;
}

.tab.active {
    background-color: #777777; /* Active tab color */
}

.button-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.button-group.disabled button {
    pointer-events: none;
    opacity: 0.6;
}

.loading-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.test-actions {
    display: flex;
    gap: 10px;
}

.print-report, .delete-all {
    display: flex;
    justify-content: center;
}

.get-test-data-button, .test-command-button, .start-test-button, .send-output-button, .print-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.get-test-data-button:hover, .test-command-button:hover, .start-test-button:hover, .send-output-button:hover, .print-button:hover {
    background-color: #45a049;
}

.delete-all-button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-all-button:hover {
    background-color: #ff1a1a;
}

.test-container {
    width: 100%;
}

.test-card {
    padding: 20px;
    margin: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
}

.test-card.darker {
    background-color: #333;
}

.test-card.lighter {
    background-color: #444;
}

.output {
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap; /* Ensures text wraps within the pre element */
    word-wrap: break-word;
    font-family: monospace;
}

.output-entry {
    margin-bottom: 5px;
    position: relative; /* Ensure relative positioning for alignment */
    display: flex;
}

.timestamp {
    color: #888;
    font-size: 0.9em;
    display: inline-block;
    width: 100px; /* Adjust width to match the timestamp column width */
    flex-shrink: 0; /* Prevent shrinking */
}

.message {
    display: inline-block;
    margin-left: 10px; /* Adjust margin to create space between timestamp and message */
    word-break: break-word;
}

.new-line {
    display: block;
    margin-left: 160px; /* Match the width of the timestamp column */
    text-indent: -160px; /* Negative indent to align text correctly */
    padding-left: -75px; /* Ensure the new line starts at the correct position */
    margin-bottom: -10px;
}

.delete-button,
.toggle-button {
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.delete-button {
    right: 10px;
    background-color: #ff4d4d;
    color: white;
}

.delete-button:hover {
    background-color: #ff1a1a;
}

.toggle-button {
    right: 80px;
    background-color: #4d4dff;
    color: white;
}

.toggle-button:hover {
    background-color: #1a1aff;
}

.status-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
}

.status-icon.success {
    color: #4CAF50;
}

.status-icon.failed {
    color: #FF4D4D;
}

@media print {
    .print-button, .delete-button, .toggle-button {
        display: none;
    }
    .test-card {
        page-break-inside: avoid;
        border: 1px solid #000;
        margin-bottom: 10px;
    }
}

/* Modal styles */
.modal {
    background: #333;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    color: #fff;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}